@import 'reset.scss';
@import '../../../assets/fonts/transfonter.org-20191126-040057/stylesheet.css';
$desktop-size: 1240px;
@mixin desktop {
    @media (min-width: $desktop-size) {
        @content;
    }
}

$tablet-size: 600px;
@mixin tablet {
    @media (min-width: $tablet-size) {
        @content;
    }
}

$mobile-size: 480px;
@mixin mobile {
    @media (min-width: $mobile-size) {
        @content;
    }
}

body {
    background-color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 25% 0;
    @include tablet {
        display: flex;
        align-items: center;
        margin-top: 40%;
    }
    @include desktop {
        margin: 10% 0 0 0;
        justify-content: flex-start;
    }
    img {
        margin: 40px 0;
        @include tablet {
            margin-left: 25%;
        }
        @include desktop {
            margin-left: 3%;
        }
    }
}

// Classes add with JavaScript
.after-click-main {
    margin: 0;
    transition: all 1.5s;
}

.after-click-image {
    margin: 25px 0;
    @include tablet {
        margin-left: 20%;
        width: 10%;
    }
    @include desktop {
        margin-left: 3%;
        width: 5%;
    }
    transition: all 1.5s;
}

.sections {
    @include tablet {
        display: flex;
        flex-direction: column;
    }
    @include desktop {
        margin-left: 5%;
    }
    p {
        color: #ffffff;
    }
    select {
        background-color: white;
        border: 2px solid white;
        border-radius: 5px;
        margin-top: 15px;
        width: 33%;
        @include tablet {
            width: 80%;
        }
    }
}

.after-click-sections {
    margin-bottom: 10%;
    @include tablet {
        margin-bottom: 0%;
        margin-left: 12%;
    }
    @include desktop {
        margin-left: 7%;
    }
    transition: all 1.5s;
}

.loader {
    width: 5%;
    margin-left: 15%;
}

.articles {
    margin-right: 100%;
}

.after-click-articles {
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 16rem;
    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }
    li {
        position: relative;
        img {
            width: 100%;
        }
        figcaption {
            bottom: 0;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            transition: all 1.5s;
            text-align: left;
            padding: 8px;
            line-height: 1.2; 
        }
    }
    transition: all 1.5s;
}

.article {
    &>a {
        height: 100%;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        color: white;
    }
}

footer {
    margin-top: 40%;
    @include tablet {
        margin-top: 48%;
    }
    @include desktop {
        display: flex;
        margin: 6% 0 0 3%;
    }
    h2 {
        color: #c2c2c2;
    }
}

.after-click-footer {
    margin: 7% 0;
    @include desktop {
        margin: 2% 0 3.5% 2%;
    }
    transition: all 1.5s;
}

li:hover {
    figcaption {
        opacity: 0;
        transition: all 0.5s;
    }
}

.error {
    width: 100vw;
    h1 {
        color: #ffffff;
    }
}