@import 'reset.scss';
@import '../../../assets/fonts/transfonter.org-20191126-040057/stylesheet.css';
$desktop-size: 1240px;
@mixin desktop {
    @media (min-width: $desktop-size) {
        @content;
    }
}

$tablet-size: 600px;
@mixin tablet {
    @media (min-width: $tablet-size) {
        @content;
    }
}

$mobile-size: 480px;
@mixin mobile {
    @media (min-width: $mobile-size) {
        @content;
    }
}

body {
    background-color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

main {
    grid-row: 1;
    @include tablet {
        grid-row: 2;
        display: flex;
        align-items: center;
        margin-left: 5%;
    }
    img {
        margin: 40px 0;
        @include tablet {
            margin-left: 20%;
        }
    }
}

.sections {
    p {
        color: #ffffff;
    }
    select {
        background-color: white;
        border: 2px solid white;
        border-radius: 5px;
        margin-top: 10px;
    }
}

footer {
    grid-row: 3;
    display: grid;
    margin-top: 30%;
    h2 {
        color: #c2c2c2;
    }
}

.articles {
    margin: 20px 0;
    li {
        position: relative;
        margin: 10px 0;
        img {
            width: 100vw;
        }
        figcaption {
            position: absolute;
            bottom: 0;
            background-color: gray;
        }
    }
}